__pycache__
*.egg-info
build
run_scripts
/Datasets/TSB-AD-M
/Datasets/TSB-AD-U
/Datasets/compressed_dataset
/compression_methods/model_weight
TSB_AD/models/NormA.py
TSB_AD/models/Series2Graph.py
.DS_Store
/results
/TerseTS